In [41]:
import pandas as pd

whole_df = pd.read_excel("test.xlsx", sheet_name = "분할", dtype = str)

whole_sheet_df = pd.read_excel("test.xlsx", sheet_name = None, skiprows = 2, dtype = str)

In [42]:
print(whole_df.head(1))

            주주번호                         실질계좌번호  주주명    우편번호  \
0  7902121463012  00001200000200100030001759508  임연식  31171

                                                주주주소 권리확정주식수
0  충청남도 천안시 서북구 월봉4로 140-14, 206동504호 (쌍용동, 월봉벽산태...  567619

In [43]:
whole_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1310 entries, 0 to 1309
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   주주번호     1310 non-null   object
 1   실질계좌번호   1310 non-null   object
 2   주주명      1310 non-null   object
 3   우편번호     1310 non-null   object
 4   주주주소     1310 non-null   object
 5   권리확정주식수  1310 non-null   object
dtypes: object(6)
memory usage: 61.5+ KB

In [44]:
print(whole_sheet_df.keys())

dict_keys(['Sheet1', '분할', '강원', '경기', '경남', '경북', '광주', '대구', '대전세종', '부산', '서울', '울산', '인천', '전남', '전북', '제주', '충남', '충북', 'test'])

In [45]:
del whole_sheet_df["Sheet1"]
del whole_sheet_df["분할"]
del whole_sheet_df["test"]

In [46]:
for k, v in whole_sheet_df.items():
    print(v.columns)

Index(['Unnamed: 0', '주주번호', '실질계좌번호', '주주명', '우편번호', '주주주소', '권리확정주식수'], dtype='object')
Index(['Unnamed: 0', '주주번호', '실질계좌번호', '주주명', '우편번호', '주주주소', '권리확정주식수'], dtype='object')
Index(['Unnamed: 0', '주주번호', '실질계좌번호', '주주명', '우편번호', '주주주소', '권리확정주식수'], dtype='object')
Index(['Unnamed: 0', '주주번호', '실질계좌번호', '주주명', '우편번호', '주주주소', '권리확정주식수'], dtype='object')
Index(['Unnamed: 0', '주주번호', '실질계좌번호', '주주명', '우편번호', '주주주소', '권리확정주식수'], dtype='object')
Index(['Unnamed: 0', '주주번호', '실질계좌번호', '주주명', '우편번호', '주주주소', '권리확정주식수'], dtype='object')
Index(['Unnamed: 0', '주주번호', '실질계좌번호', '주주명', '우편번호', '주주주소', '권리확정주식수'], dtype='object')
Index(['Unnamed: 0', '주주번호', '실질계좌번호', '주주명', '우편번호', '주주주소', '권리확정주식수'], dtype='object')
Index(['Unnamed: 0', '주주번호', '실질계좌번호', '주주명', '우편번호', '주주주소', '권리확정주식수'], dtype='object')
Index(['Unnamed: 0', '주주번호', '실질계좌번호', '주주명', '우편번호', '주주주소', '권리확정주식수'], dtype='object')
Index(['Unnamed: 0', '주주번호', '실질계좌번호', '주주명', '우편번호', '주주주소', '권리확정주식수'], dtype='object')
Index(['Unnamed: 0', '주주번호', '실질계좌번호', '주주명', '우편번호', '주주주소', '권리확정주식수'], dtype='object')
Index(['Unnamed: 0', '주주번호', '실질계좌번호', '주주명', '우편번호', '주주주소', '권리확정주식수'], dtype='object')
Index(['Unnamed: 0', '주주번호', '실질계좌번호', '주주명', '우편번호', '주주주소', '권리확정주식수'], dtype='object')
Index(['Unnamed: 0', '주주번호', '실질계좌번호', '주주명', '우편번호', '주주주소', '권리확정주식수'], dtype='object')
Index(['Unnamed: 0', '주주번호', '실질계좌번호', '주주명', '우편번호', '주주주소', '권리확정주식수'], dtype='object')

In [6]:
cleaned_sheets = []

for sheet in whole_sheet_df.values():
    sheet = sheet.loc[:, ~sheet.columns.str.contains('^Unnamed', na = False)]
    if 'index' in sheet.columns:
        sheet = sheet.drop(columns = 'index')

    cleaned_sheets.append(sheet)

In [ ]:
df_merged = pd.concat(whole_sheet_df.values(), axis = 0, ignore_index = True)
# df_merged.drop(columns = "Unnamed: 0", inplace = True)
df_merged.columns


# with pd.ExcelWriter("test.xlsx", engine = "openpyxl", mode = "a", if_sheet_exists = 'replace') as writer:
#     df_merged.to_excel(writer, sheet_name = "test", index = False)

Index(['주주번호', '실질계좌번호', '주주명', '우편번호', '주주주소', '권리확정주식수'], dtype='object')

In [48]:
print(whole_df.columns, df_merged.columns)

Index(['주주번호', '실질계좌번호', '주주명', '우편번호', '주주주소', '권리확정주식수'], dtype='object') Index(['주주번호', '실질계좌번호', '주주명', '우편번호', '주주주소', '권리확정주식수'], dtype='object')

In [49]:
test_li = whole_df.columns.to_list()

In [50]:
type(test_li)

list

In [51]:
whole_df.head(1)

,주주번호,실질계좌번호,주주명,우편번호,주주주소,권리확정주식수
0,7902121463012,00001200000200100030001759508,임연식,31171,"충청남도 천안시 서북구 월봉4로 140-14, 206동504호 (쌍용동, 월봉벽산태...",567619

In [52]:
merged_df = whole_df.merge(df_merged, how = "outer", on = test_li, indicator = True)
df_omission = merged_df[merged_df["_merge"] == "left_only"].drop(columns = ['_merge'])
df_dup = merged_df[merged_df["_merge"] == "right_only"].drop(columns = ["_merge"])

In [53]:
print(df_omission.head(2))
print(df_dup.head(2))

Empty DataFrame
Columns: [주주번호, 실질계좌번호, 주주명, 우편번호, 주주주소, 권리확정주식수]
Index: []
Empty DataFrame
Columns: [주주번호, 실질계좌번호, 주주명, 우편번호, 주주주소, 권리확정주식수]
Index: []

In [20]:
print(df_omission, df_dup)

     주주번호 실질계좌번호                                                주주명 우편번호  \
1310  NaN    NaN                                            (주)진안산업  NaN
1311  NaN    NaN  ACADIAN EMERGING MARKETS MICRO-CAP EQUITY MAST...  NaN
1312  NaN    NaN                BARCLAYS CAPITAL SECURITIES LIMITED  NaN
1313  NaN    NaN              CITADEL SECURITIES KOREA PTE. LIMITED  NaN
1314  NaN    NaN                            IMC PACIFIC PTY LTD_ELW  NaN
...   ...    ...                                                ...  ...
2615  NaN    NaN                                                황의연  NaN
2616  NaN    NaN                                                황인영  NaN
2617  NaN    NaN                                                황재영  NaN
2618  NaN    NaN                                                황혜영  NaN
2619  NaN    NaN                                                황희웅  NaN

                                                   주주주소 권리확정주식수
1310                 대전 유성구 갑동로 49,103-101 (갑동, 엘리시움캐슬)   30000
1311                              서울특별시중구칠패로37  HSBC빌딩　   62296
1312  서울 종로구 (Standard Chartered Bank Korea, 47 Jong...   37937
1313                          서울특별시 종로구 새문안로 50 (신문로2가)  147218
1314  서울 영등포구 여의대로 70, 8층  신한금융투자빌딩 업무지원부 (여의도동, 신한금...   23586
...                                                 ...     ...
2615                            강원 원주시 금불4길 5, 3층 (단계동)    9453
2616               경남 김해시 인제로 167, (대우유토피아아파트) 101동704호    5423
2617       서울특별시 성북구 인촌로 112, 401호 (안암동5가,서울ENM선교회 황재영)   16473
2618           서울 강남구 학동로44길 36 202동 402호(논현동,논현1차아펠바옴)   36000
2619  전북 전주시 완산구 화산천변로 50, 108동 302호 (중화산동2가, 현대에코르아파트)   15169

[1310 rows x 6 columns]                주주번호                         실질계좌번호  \
0     0000000000553  00150000000200001000000000553
1     0000000020366  00000200000200155110217584810
2     0000000050177  00152000000200001002890390421
3     0000000051236  00148000000200001000000051236
4     0001043162415  00005000000200101000061177499
...             ...                            ...
1305  9611281482110  00005000000200096000052126670
1306  9705162403617  00001200000200100020201406421
1307  9708162203716  00001700000200365032596703401
1308  9708272497133  00001700000200089026533530501
1309  9906241727719  00001200000200097020401865073

                                                    주주명    우편번호  \
0                   BARCLAYS CAPITAL SECURITIES LIMITED  03159
1                               IMC PACIFIC PTY LTD_ELW  07325
2     ACADIAN EMERGING MARKETS MICRO-CAP EQUITY MAST...  04511
3                 CITADEL SECURITIES KOREA PTE. LIMITED  04521
4                                                   이준호  18111
...                                                 ...     ...
1305                                                전운찬  54902
1306                                                변혜진  35297
1307                                                양승아  05710
1308                                                이현지  54665
1309                                                신현우  39440

                                                   주주주소 권리확정주식수
0     서울 종로구 (Standard Chartered Bank Korea, 47 Jong...   37937
1     서울 영등포구 여의대로 70, 8층  신한금융투자빌딩 업무지원부 (여의도동, 신한금...   23586
2                                 서울특별시중구칠패로37  HSBC빌딩　   62296
3                             서울특별시 종로구 새문안로 50 (신문로2가)  147218
4     [18111] 경기도 오산시 문시로 183-19, 115동 402호 (외삼미동,서동...   12383
...                                                 ...     ...
1305  전라북도 전주시 덕진구 호성로 170, 314동 304호 (호성동2가,진흥더블파크3...   10070
1306        대전광역시 서구 가장로 106, 113동904호 (가장동, 삼성 래미안아파트)    6367
1307          서울 송파구 송파대로32길 15,106동 2203호(가락동,가락금호아파트)    5000
1308       전북 익산시 배산로 39 - 6,201동 1506호(송학동,송학동리젠시빌아파트)    6000
1309           경상북도 구미시 인동31길 33, 별님동 201호 (인의동, 삼보그린빌)   29570

[1310 rows x 6 columns]

In [58]:
print(df_dup.shape[0])
print(type(df_omission.shape[0]))

0
<class 'int'>

In [59]:
print(whole_df.shape)

(1310, 6)